/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-family: message-box, sans-serif; font-size: 50px ; background-image: url(./app/decoration/cat_background.webp); }
