.color {
    background: #ffd100;
    border-radius: 20px;
    transition: 0.5s;
}

.color:hover {
    box-shadow: 1px 1px 10px black;
    transition: 0.5s;
}

.color mat-label {
    text-align: center;
    font-size: 17px;
    color: black;
}
